<script type="text/javascript">
  $(function () {
        $('.fecha').datetimepicker({
          format: 'YYYY-MM-DD HH:mm'
        });        

    });
</script>

<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-2"> </div>
        <div class="col-md-8"> 
                <div class="form-group">
                    <%= f.label "nombre" %><br>
                    <%= f.text_field :name, :class => "form-control", :required => true %>
                </div>
        </div>
    </div>


  <div class="row">
    <div class="col-md-2"> </div>
        <div class="col-md-8"> 
                <div class="form-group">
                    <%= f.label "Hora de Inicio" %><br>
                    <%= f.text_field :start_time, :class => "form-control fecha", :required => true %>
                </div>
        </div>
  </div>

  <div class="row">
    <div class="col-md-2"> </div>
        <div class="col-md-8"> 
                <div class="form-group">
                    <%= f.label "Hora de Finalizacion" %><br>
                    <%= f.text_field :end_time, :class => "form-control fecha", :required => true %>
                </div>
        </div>        
  </div>

  <div class="row">
    <div class="col-md-2"> </div>
        <div class="col-md-8"> 
                <div class="form-group">
                    <%= f.label "Imagen" %><br>
                    <%= f.file_field  :main_image, :class => "form-control"%>
                </div>
        </div>
  </div>

  <div class="row">
    <div class="col-md-2"> </div>
        <div class="col-md-8"> 
                <div class="form-group">
                    <%= f.label "Direccion" %><br>
                    <%= f.text_field :address, :class => "form-control", :required => true %>
                </div>
        </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-2"> </div>
      <div class="col-md-8">
        <%= f.hidden_field :lat %>
        <%= f.hidden_field :lon %>
        <%= f.label :address, "Ubicación" %>
        <div id="map" style="width:100%;height:250px;"></div>
      </div>
    </div>
  </div>

  <div class="actions pull-right">
    <%= f.submit "Guardar Evento", :class => "btn btn-primary" %>
    <%= link_to "Regresar", 'javascript:void(0)', :onclick => 'goBack();', :class => "btn btn-warning" %>
  </div>
  <div class="clear" style="clear: both;"></div>
<% end %>

<script type="text/javascript">
    var map;
    var marker;
    var center = {lat: 6.25304 , lng: -75.56457 };

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: center,
            zoom: 12
        });
        var geocoder = new google.maps.Geocoder();

        google.maps.event.addListener(map, 'click', function(event) {
            placeMarker(event.latLng,geocoder);
        });

        marker = new google.maps.Marker({
            position: center,
            map: map
        });
    }

    function placeMarker(location,geocoder) {
       if (marker) {
           marker.setPosition(location);
       } else {
           marker = new google.maps.Marker({
               position: location,
               map: map
           });

       }
        geocoder.geocode({'location': location}, function(results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
                if (results[0]) {
                  console.log (results[0].formatted_address);
                    $("#event_address").val(results[0].formatted_address);
                } else {
                    window.alert('No results found');
                }
            } 
            else {
                window.alert('Geocoder failed due to: ' + status);
            }
        });

       map.setCenter(location);

       $("#event_lat").val(location.lat);
       $("#event_lon").val(location.lng);
   }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0K2QnMcgKMJiGTBAqmGUk737Z5joGebU&callback=initMap"></script>

